h2 Uppdatera din frukt🍎

form action="/fruits/#{@special_frukt["id"]}/update" method="post" 
    input type="text" name="name" value="#{@special_frukt["name"]}"
    input type="number" name="amount" value="#{@special_frukt["amount"]}"
    input type="submit" value="Uppdateraヾ(•ω•`)o"